.Rhistory
.RData
.Rproj.user
# keep workspace clean - do not push locally rendered files (in master branch)
_book/
_bookdown_files/
libs/
**/*.bib
**/*.html
ansperfbook.log
ansperfbook.tex
# ignore all htmls files, except
!**/mathjax_header.html

